[Desktop Entry]
Name=lingguang

X-KDE-PluginInfo-Name=lingguang
X-KDE-PluginInfo-Author=lingguang
X-KDE-PluginInfo-Email=aslingguang@gmail.com
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0